.Welcome{
    text-align: center;
    background-image: url(images/Delani2.jpg);
    background-size: cover;
    color: white;
    height: 110vh;
}
.Welcome#Top{
margin-top: 10rem;
}
.About{
    text-align: center;
    line-height: 30px;
}
.Service{
    /* text-align: center; */
    background-image: url(images/Delani3.jpg);
    background-size: cover;
    color: white;
    line-height: 30px;
}
.Wedo{
    text-align: center;
}
.Images{
 display: flex;
 justify-content: space-around;
}
.Work{
    justify-content: space-around;
}
#name{
    height: 30px;
    width: 290px;
    border-color: white;
    background-color: none;
}
#email{
    height: 30px;
    width: 290px;
}
#message{
    height: 150px;
    width: 600px;
}
.Form{
    text-align: center;
    justify-content: space-around;
}
.First{
    display: inline-flex;
    justify-content: space-around;
}
.Name{
    margin: 10px;
}
.Email{
    margin: 10px;
}
.Contact{
    text-align: center;
    margin-top: 40px;
    background-image: url(images/Delani1.jpg);
    background-size: cover;
    height: 100vh;
    border-color: white;
    
}
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .Form{
      margin-top: 100px;
      border-color: white;
  }
  @media (min-width: 750px) {
    .container {
      width: 730px;
    }
  }
  @media (min-width: 990px) {
    .container {
      width: 965px;
    }
  }
  @media (min-width: 1300px) {
    .container {
      width: 1200px;
    }
  }
  /* #one:hover{
      opacity: 0.5;
  }
  #two:hover{
    opacity: 0.5;
}
#three:hover{
    opacity: 0.5;
}
#four:hover{
    opacity: 0.5;
}
#five:hover{
    opacity: 0.5;
}
#six:hover{
    opacity: 0.5;
}
#seven:hover{
    opacity: 0.5;
}
#eight:hover{
    opacity: 0.5;
} */
.paratwo{
      display: none;
  }
  .paraone{
      display: none;
  }
  .parathree{
      display: none;
  }
  .Media{
      text-align: center;
  }
  .Overall{
      position: absolute;
      font-weight: bold;
      display: none;
      width: 15rem;
      height: 10rem;
      background-color: rgba(255, 255, 255, .5);
      margin: -12rem 2rem;
  }
  
