.Welcome{
    text-align: center;
    background-image: url(images/Delani2.jpg);
    background-size: cover;
    color: white;
}
.About{
    text-align: center;
    line-height: 30px;
}
.Service{
    text-align: center;
    background-image: url(images/Delani3.jpg);
    background-size: cover;
    color: white;
    line-height: 30px;
}
.Wedo{
    text-align: center;
}
.Images{
 display: flex;
 justify-content: space-around;
}