.Welcome{
    text-align: center;
    background-image: url(images/Delani2.jpg);
    background-size: cover;
    color: white;
}
.About{
    text-align: center;
    line-height: 30px;
}
.Service{
    text-align: center;
    background-image: url(images/Delani3.jpg);
    background-size: cover;
    color: white;
    line-height: 30px;
}
.Wedo{
    text-align: center;
}
.Images{
 display: flex;
 justify-content: space-around;
}
.Work{
    justify-content: space-around;
}
#name{
    height: 30px;
    width: 400px;
}
#email{
    height: 30px;
    width: 400px;
}
#message{
    height: 150px;
    width: 850px;
}
.Form{
    text-align: center;
    justify-content: space-around;
}
.First{
    display: inline-flex;
    justify-content: space-around;
}
.Name{
    margin: 10px;
}
.Email{
    margin: 10px;
}
.Contact{
    text-align: center;
    margin-top: 40px;
    background-image: url(images/Delani1.jpg);
    background-size: cover;
}
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 750px) {
    .container {
      width: 730px;
    }
  }
  @media (min-width: 990px) {
    .container {
      width: 965px;
    }
  }
  @media (min-width: 1300px) {
    .container {
      width: 1200px;
    }
  }